@import url("header.css");

* {
    outline: none;
    transition: all .3s ease;
}

body {
    font-size: 16px;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

.components-container {
    padding: 15px 25px;
    margin: 15px 0;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
}

.components-label {
    margin-top: 10px;
    margin-bottom: 10px; 
    font-size: 1.125rem;
    font-family: 'Lato';
}

.form-input-components {
    max-width: 200px;
    width: 100%;
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
    position: relative;
}

.form-textarea-components {
    width: 45%;
}

.default-textarea {
    width: 100%;
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Lato';
    border: 1px solid #ccc;
}
